{% extends 'front.html.twig' %}
{% block body %}
    <br>
    <br>
    <br>
    <br>
    <h1 align="center">Calendrier</h1>
    <hr>
<section class="section">
    <div class="container">
    {% include 'ADesignsCalendarBundle::calendar.html.twig' %}



</div>
</section>




{% endblock %}